.card-left {
  border: none;
  border-radius: 0px;
  border-bottom: solid 1px darkgrey;
}

.card-right {
  border-radius: 0px;
  border: solid 1px darkgrey;
}

.card-sml {
  background-color: darkslateblue;
  color: white;
  font-size: 80%;
  min-width: auto !important;
}

/* UV Index colours */

.hide {
  display: none;
}

.uvlow {
  background-color: green;
  color: white;
}

.uvmed {
  background-color: orange;
}

.uvhigh {
  background-color: red;
  color: white;
}
