.card-left {
    border: none;
    border-radius: 0px;
    border-bottom: solid 1px darkgrey;
}

.card-right {
    border-radius: 0px;
    border: solid 1px darkgrey;
}

.card-sml {
    background-color: darkslateblue;
    color: white;
}